@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter/Inter-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('fonts/Inter/Inter-Light.ttf') format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'Inter';
  src: url('fonts/Inter/Inter-Medium.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'Inter';
  src: url('fonts/Inter/Inter-SemiBold.ttf') format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: 'Inter';
  src: url('fonts/Inter/Inter-Bold.ttf') format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: 'Inter';
  src: url('fonts/Inter/Inter-ExtraBold.ttf') format('truetype');
  font-weight: 900;
}
@font-face {
  font-family: 'Oswald';
  src: url('fonts/Oswald/Oswald-SemiBold.ttf') format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: 'Oswald';
  src: url('fonts/Oswald/Oswald-Bold.ttf') format('truetype');
  font-weight: 700;
}
